src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2d54b4cf-f2ad-4efa-9712-5a1f623dfae5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="b8a59a2b-fe35-44a0-8512-7d6bfbe37cae" >
		<http:listener doc:name="Listener" doc:id="29285635-8087-4b25-a914-a70e41623275" config-ref="HTTP_Listener_config" path="\get"/>
		<logger level="INFO" doc:name="Logger" doc:id="64b38324-2974-4e07-b176-5b3e8abf7254" message="#[payload]"/>
	</flow>
</mule>
